<!doctype html>
<html lang="fr">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta name="keywords" content="Hotel, Neptune, Confort, Luxe, Vacances, Voyage, Plage, Piscine, Restaurant, Bar, Chambre, Suite, Service, Client, Satisfaction">
		<meta name="author" content="Hotel Neptune">

		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="bingbot" content="index, follow">

		<meta property="og:title" content="Hotel Neptune - L'endroit idéal pour vos vacances">
		<meta property="og:description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta property="og:image" content="{{ asset('/images/bg.jpg') }}">
		<meta property="og:url" content="https://www.hotelneptune.com">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Hotel Neptune - L'endroit idéal pour vos vacances">
		<meta name="twitter:description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta name="twitter:image" content="{{ asset('/images/bg.jpg') }}">
		{% block css %}
			<link rel="stylesheet" href="{{ asset('/css/main.css') }}?v={{ random() }}"/>
		{% endblock %}
		<title>
			Hotel Neptune -
			{% block title %}{% endblock %}
		</title>
	</head>
	<body class="bg-gray-50 flex flex-col h-screen">
		{% if env('APP_DEMO') == 'true' or env('APP_DEMO') == true %}
			<div class="demo-banner">
				<div class="demo-banner-content">
					<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 16.99V17M12 7V14M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#92400E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					<span>Vous consultez une version de démonstration de Hotel Neptune.</span>
				</div>
			</div>
		{% endif %}
		{% include 'components/demo_modal.html.twig' %}
		<main class="flex-1 w-full overflow-hidden"> {% block content %}{% endblock %}
			</main>
		</body>
		{% block js %}
			{% if env('APP_DEMO') == 'true' or env('APP_DEMO') == true %}
				<script src="{{ asset('/js/demo_modal.js') }}?v={{ random() }}"></script>
			{% endif %}
		{% endblock %}
	</html>
