<!doctype html>
<html lang="fr">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta name="keywords" content="Hotel, Neptune, Confort, Luxe, Vacances, Voyage, Plage, Piscine, Restaurant, Bar, Chambre, Suite, Service, Client, Satisfaction">
		<meta name="author" content="Hotel Neptune">

		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="index, follow">
		<meta name="bingbot" content="index, follow">

		<meta property="og:title" content="Hotel Neptune - L'endroit idéal pour vos vacances">
		<meta property="og:description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta property="og:image" content="{{ asset('/images/bg.jpg') }}">
		<meta property="og:url" content="https://www.hotelneptune.com">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Hotel Neptune - L'endroit idéal pour vos vacances">
		<meta name="twitter:description" content="L'endroit idéal pour vos vacances. Profitez du luxe et du confort avec nos services de qualité.">
		<meta name="twitter:image" content="{{ asset('/images/bg.jpg') }}">
		{% block css %}
			<link rel="stylesheet" href="{{ asset('/css/main.css') }}?v={{ random() }}"/>
			<link rel="stylesheet" href="{{ asset('/css/lucide.css') }}?v={{ random() }}"/>
		{% endblock %}
		<title>
			Hotel Neptune -
			{% block title %}{% endblock %}
		</title>
	</head>
	<body class="relative bg-gray-50 flex h-screen maw-w-full w-full">
		{% if env.APP_ENV == 'demo' %}
			{% include 'components/demoBanner.html.twig' %}
		{% endif %}
		{% include 'components/loader.html.twig' %}
		{% include 'components/dashboard/sidebar.html.twig' %}
		<main class="flex-1 w-full h-screen overflow-auto"> {% block content %}{% endblock %}
			</main>
		</body>
		{% block js %}
			<script src="{{ asset('/js/loader.js') }}?v={{ random() }}"></script>
			<script src="{{ asset('/js/sidebar.js') }}?v={{ random() }}"></script>
			<script src="{{ asset('/js/dropdown.js') }}?v={{ random() }}"></script>
		{% endblock %}
	</html>
