{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Acceuil
{% endblock %}
{% block content %}
	{% if env.ANNOUNCEMENT is not empty %}
		<div class="bg-primary w-full px-6 py-3 items-center text-white text-sm inline-flex">
			{{ env.ANNOUNCEMENT }}
		</div>
	{% endif %}
	<section class="relative py-18 bg-primary px-6">
		<img class="w-full h-full absolute top-0 left-0 object-cover" src="{{ asset('/images/bg.jpg') }}" alt=""/>
		<div class="bg-black/50 absolute top-0 left-0 h-full w-full"></div>
		<div class="max-w-7xl mx-auto relative">
			<div class="mb-12 lg:mb-0 text-center z-50 relative items-center flex flex-col">
				<svg class="h-24" width="262" height="123" viewbox="0 0 262 123" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.64428 79V46.8H11.6363L28.5183 69.8L27.0003 69.57C26.8469 68.558 26.7243 67.592 26.6323 66.672C26.5403 65.752 26.4483 64.8473 26.3563 63.958C26.295 63.0687 26.2336 62.164 26.1723 61.244C26.1416 60.324 26.111 59.3273 26.0803 58.254C26.0803 57.1807 26.0803 56.0153 26.0803 54.758V46.8H33.6703V79H26.5863L8.96828 55.264L11.3143 55.586C11.4676 57.058 11.5903 58.3153 11.6823 59.358C11.8049 60.37 11.8969 61.2747 11.9583 62.072C12.0503 62.8693 12.1116 63.59 12.1423 64.234C12.173 64.878 12.1883 65.522 12.1883 66.166C12.219 66.7793 12.2343 67.4693 12.2343 68.236V79H4.64428ZM46.3498 79V46.8H68.7978V53.47H53.9398V72.33H69.2578V79H46.3498ZM50.0298 65.798V59.45H66.7278V65.798H50.0298ZM80.5982 79V46.8H94.4902C96.5142 46.8 98.3082 47.26 99.8722 48.18C101.467 49.1 102.724 50.3573 103.644 51.952C104.595 53.5467 105.07 55.3407 105.07 57.334C105.07 59.4193 104.595 61.29 103.644 62.946C102.724 64.5713 101.467 65.8593 99.8722 66.81C98.3082 67.7607 96.5142 68.236 94.4902 68.236H88.4182V79H80.5982ZM88.2802 61.382H93.3862C94.0609 61.382 94.6742 61.2133 95.2262 60.876C95.7782 60.5387 96.2229 60.0787 96.5602 59.496C96.8975 58.9133 97.0662 58.2387 97.0662 57.472C97.0662 56.6747 96.8975 56 96.5602 55.448C96.2229 54.896 95.7782 54.4667 95.2262 54.16C94.6742 53.8533 94.0609 53.7 93.3862 53.7H88.2802V61.382ZM167.894 79.276C165.226 79.276 162.849 78.7393 160.764 77.666C158.679 76.562 157.038 75.0593 155.842 73.158C154.677 71.2567 154.094 69.0793 154.094 66.626V46.8H162.006V66.212C162.006 67.3773 162.267 68.4353 162.788 69.386C163.309 70.306 164.015 71.042 164.904 71.594C165.793 72.1153 166.79 72.376 167.894 72.376C169.059 72.376 170.087 72.1153 170.976 71.594C171.896 71.042 172.632 70.306 173.184 69.386C173.736 68.4353 174.012 67.3773 174.012 66.212V46.8H181.648V66.626C181.648 69.0793 181.05 71.2567 179.854 73.158C178.689 75.0593 177.063 76.562 174.978 77.666C172.893 78.7393 170.531 79.276 167.894 79.276ZM194.098 79V46.8H201.09L217.972 69.8L216.454 69.57C216.3 68.558 216.178 67.592 216.086 66.672C215.994 65.752 215.902 64.8473 215.81 63.958C215.748 63.0687 215.687 62.164 215.626 61.244C215.595 60.324 215.564 59.3273 215.534 58.254C215.534 57.1807 215.534 56.0153 215.534 54.758V46.8H223.124V79H216.04L198.422 55.264L200.768 55.586C200.921 57.058 201.044 58.3153 201.136 59.358C201.258 60.37 201.35 61.2747 201.412 62.072C201.504 62.8693 201.565 63.59 201.596 64.234C201.626 64.878 201.642 65.522 201.642 66.166C201.672 66.7793 201.688 67.4693 201.688 68.236V79H194.098ZM235.803 79V46.8H258.251V53.47H243.393V72.33H258.711V79H235.803ZM239.483 65.798V59.45H256.181V65.798H239.483Z" fill="white"/>
					<path d="M129.068 4.01911C127.059 10.0044 124.659 15.7873 123.531 17.3632C123.141 17.9125 123.184 17.9704 123.893 17.8981C125.093 17.7535 126.437 16.7993 127.492 15.3247C127.738 14.9777 127.753 15.1367 127.68 19.8787C127.55 27.7724 126.958 33.2517 125.844 36.7214C125.454 37.8925 124.789 39.1936 124.326 39.6273C123.994 39.9454 123.994 39.9309 124.413 38.9478C124.644 38.3985 124.803 37.9358 124.789 37.9214C124.76 37.8925 124.543 37.9503 124.312 38.037C123.705 38.2394 122.852 37.9937 122.36 37.4877C121.811 36.9094 121.464 36.0564 120.871 33.7577C119.483 28.394 118.139 25.4448 115.854 22.7991C115.189 22.0328 115.16 21.975 115.478 21.975C116.274 21.975 118.818 22.9437 120.004 23.681L120.567 24.0424L120.293 23.6231C119.526 22.4377 119.252 22.0907 118.153 20.9919C116.866 19.6763 115.045 18.3752 113.238 17.4644C112.211 16.9584 109.406 15.9463 108.322 15.7006C107.845 15.5849 107.831 15.5415 108.741 16.8427C110.765 19.7486 112.254 24.5484 112.269 28.1483C112.283 29.0591 112.298 29.1025 112.5 28.8422C112.977 28.1916 113.324 26.7025 113.411 24.8086L113.498 22.9292L114.119 24.1725C115.348 26.6736 116.158 29.1458 116.693 32.124C116.996 33.7866 117.04 38.1382 116.78 39.8297C116.375 42.3019 115.406 45.3524 114.365 47.4198L113.989 48.1571L114.842 47.5788C118.948 44.803 123.155 44.2392 126.278 46.0753C127.044 46.5235 129.025 48.4607 128.794 48.533C128.707 48.5619 128.244 48.4029 127.782 48.1716C127.319 47.9403 126.798 47.6945 126.625 47.6511L126.292 47.5499V54.8508V79L134.678 79V62.1662V54.8508V47.5499L134.36 47.6511C134.172 47.6945 133.593 47.9692 133.058 48.2294C132.509 48.5041 132.075 48.6776 132.075 48.6053C132.075 48.3595 133.536 46.8704 134.287 46.35C137.396 44.2103 141.502 44.6151 145.969 47.4921L146.937 48.1138L146.316 46.7981C143.656 41.0875 143.251 34.6396 145.174 28.3507C145.593 26.9772 146.489 24.8086 147.125 23.6665L147.545 22.9147V24.505C147.545 26.1532 147.863 27.7146 148.383 28.6832L148.629 29.1314L148.73 27.57C148.831 25.7773 149.28 23.4207 149.814 21.8304C150.32 20.3124 151.752 17.421 152.46 16.4957C152.793 16.0765 153.038 15.7006 152.995 15.6717C152.923 15.5849 150.942 16.1487 149.786 16.5825C147.964 17.262 145.998 18.3318 144.509 19.4305C143.627 20.0956 141.892 21.8738 141.256 22.7702C140.374 24.028 140.374 24.0424 141.183 23.5653C142.499 22.7991 144.711 21.975 145.492 21.975C145.81 21.975 145.781 22.0328 145.116 22.7991C144.133 23.9412 142.86 25.9219 142.21 27.3676C141.458 28.9868 141.01 30.3458 140.229 33.2806C139.868 34.6396 139.449 36.0709 139.275 36.4612C138.74 37.7045 137.598 38.384 136.658 38.037C136.427 37.9503 136.225 37.878 136.196 37.878C136.109 37.878 136.485 38.9189 136.774 39.4828L137.034 39.9743L136.658 39.6418C136.152 39.1647 135.502 37.878 135.068 36.4901C133.984 33.0493 133.42 27.7001 133.29 19.8787C133.217 15.1367 133.232 14.9777 133.478 15.3247C134.533 16.7993 135.878 17.7535 137.078 17.8981C137.786 17.9704 137.829 17.9125 137.439 17.3776C136.21 15.6138 133.666 9.41166 131.483 2.77578C130.977 1.25777 130.528 -1.52588e-05 130.485 -1.52588e-05C130.442 -1.52588e-05 129.806 1.80715 129.068 4.01911Z" fill="white"/>
					<path d="M156 103.507L151.278 99.6112L152.753 93L147.5 96.7776L142.247 93L143.722 99.6112L139 103.507L144.666 104.334L147.5 110L150.334 104.334L156 103.507Z" fill="white"/>
					<path d="M188 103.507L183.278 99.6112L184.753 93L179.5 96.7776L174.247 93L175.722 99.6112L171 103.507L176.666 104.334L179.5 110L182.334 104.334L188 103.507Z" fill="white"/>
					<path d="M91 103.507L86.2776 99.6112L87.753 93L82.5 96.7776L77.247 93L78.7224 99.6112L74 103.507L79.6664 104.334L82.5 110L85.3336 104.334L91 103.507Z" fill="white"/>
					<path d="M123 103.507L118.278 99.6112L119.753 93L114.5 96.7776L109.247 93L110.722 99.6112L106 103.507L111.666 104.334L114.5 110L117.334 104.334L123 103.507Z" fill="white"/>
				</svg>
				<p class="text-lg text-white py-6">
					Découvrez l’Hôtel Neptune, votre Évasion en Bord de Mer
				</p>
				<form method="get" action="/search" class="bg-white rounded-2xl w-full mx-auto max-w-7xl grid grid-cols-1 md:grid-cols-4 p-3 gap-3 border">
					<div class="relative">
						<input type="date" name="arrival_date" id="arrival-date" oninput="document.getElementById('departure-date').min = this.value; if(document.getElementById('departure-date').value < this.value) { document.getElementById('departure-date').value = this.value;}" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2" value="{{ arrival_date|default(('now'|date_modify('+1 days'))|date('Y-m-d', 'Europe/Paris')) }}" min="{{ ('now')|date('Y-m-d', 'Europe/Paris') }}" max="{{ ('now'|date_modify('+3 month'))|date('Y-m-d', 'Europe/Paris') }}" required>
						<label for="arrival-date" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500">
							Arrivée
						</label>
					</div>
					<div class="relative">
						<input type="date" name="departure_date" id="departure-date" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2" value="{{ departure_date|default(('now'|date_modify('+7 days'))|date('Y-m-d', 'Europe/Paris')) }}" min="{{ arrival_date|default(('now'|date_modify('+1 days'))|date('Y-m-d', 'Europe/Paris')) }}" max="{{ 'now'|date_modify('+3 month')|date('Y-m-d', 'Europe/Paris') }}" required>
						<label for="departure-date" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500">
							Départ
						</label>
					</div>
					<div class="relative">
						<select name="number_of_guests" id="number-of-guests" class="peer p-4 block w-full border-gray-200 rounded-xl text-sm focus:border-primary focus:ring-primary disabled:opacity-50 disabled:pointer-events-none focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2" required>
							<option value="1" {{ (number_of_guests ?? 1) == 1 ? 'selected' : '' }}>1</option>
							<option value="2" {{ (number_of_guests ?? 1) == 2 ? 'selected' : '' }}>2</option>
							<option value="3" {{ (number_of_guests ?? 1) == 3 ? 'selected' : '' }}>3</option>
							<option value="4" {{ (number_of_guests ?? 1) == 4 ? 'selected' : '' }}>4</option>
							<option value="5" {{ (number_of_guests ?? 1) == 5 ? 'selected' : '' }}>5</option>
							<option value="6" {{ (number_of_guests ?? 1) == 6 ? 'selected' : '' }}>6</option>
							<option value="7" {{ (number_of_guests ?? 1) == 7 ? 'selected' : '' }}>7</option>
							<option value="8" {{ (number_of_guests ?? 1) == 8 ? 'selected' : '' }}>8</option>
						</select>
						<label for="number-of-guests" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500">
							Nombre de personnes
						</label>
					</div>
					<button class="bg-primary hover:bg-primary/95 text-sm text-white rounded-xl py-4 px-3">
						Réserver
					</button>
				</form>
			</div>
		</div>
	</section>
	<section>
		<div class="bg-gray-50 px-6">
			<div class="max-w-7xl mx-auto">
				<div class="py-12">
					<h1 class="font-heading text-xl sm:text-2xl font-medium mb-6">
						Nos services
					</h1>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg class="w-6 h-6" fill="#000000" height="80px" width="80px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 511.999 511.999" xml:space="preserve">
									<path d="M270.889,449.922H19.357C8.667,449.922,0,458.588,0,469.279s8.667,19.357,19.357,19.357h251.532c10.69,0,19.357-8.667,19.357-19.357S281.579,449.922,270.889,449.922z"/>
									<path d="M392.137,358.234c9.285,17.069,30.646,23.377,47.713,14.092l16.624-9.044c17.068-9.285,23.375-30.646,14.089-47.715l-9.044-16.622c-9.284-17.068-30.646-23.377-47.713-14.092l-16.624,9.045c-17.068,9.285-23.374,30.646-14.089,47.713L392.137,358.234z"/>
									<path d="M163.27,99.114l18.688,2.969c19.189,3.049,37.217-10.033,40.265-29.221l2.971-18.69c3.048-19.188-10.035-37.214-29.224-40.263l-18.688-2.971c-19.188-3.048-37.214,10.035-40.263,29.224l-2.969,18.688C130.999,78.038,144.082,96.066,163.27,99.114z"/>
									<path d="M483.665,444.797l-85.413-0.07l-56.309-100.27c-0.644-1.147-1.363-2.227-2.133-3.248c-8.078-11.486-21.424-19.001-36.534-19.001H45.144c-24.654,0-44.642,19.987-44.642,44.641c0,24.654,19.987,44.642,44.642,44.642l269.406-0.008l42.422,75.545c5.566,9.912,16.202,15.178,26.835,14.39l99.823,0.083c15.657,0.009,28.359-12.677,28.368-28.335C512.008,457.51,499.325,444.809,483.665,444.797z"/>
									<path d="M198.489,222.229l75.421,70.339c11.472,10.657,29.411,9.996,40.069-1.476c10.657-11.471,9.996-29.409-1.476-40.069L192.21,139.001c-0.75-0.697-1.531-1.339-2.332-1.94c-5.963-4.962-13.293-8.437-21.511-9.743c-24.348-3.869-47.224,12.733-51.093,37.081L97.191,293.556h90.346L198.489,222.229z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">Spa & Bien-être</h5>
								<p class="text-sm">
									Offrez-vous un moment de pure relaxation avec nos soins et massages inspirés des traditions marines, dans un cadre apaisant face à la mer.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg fill="#000000" class="h-6 w-6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 511.999 511.999">
									<path d="M115.08,94.365l17.232,6.932c17.693,7.118,37.804-1.454,44.92-19.145l6.932-17.233 c7.117-17.691-1.455-37.802-19.148-44.919l-17.23-6.932c-17.691-7.117-37.802,1.455-44.919,19.147l-6.932,17.23 C88.817,67.136,97.39,87.248,115.08,94.365z"/>
									<path d="M493.004,463.438c-17.37,0-33.484-7.003-45.373-19.719c-1.539-1.645-3.35-2.964-5.32-3.959V165.004c0-25.158,20.468-45.625,45.625-45.625c10.492,0,18.998-8.506,18.998-18.998c0-10.492-8.506-18.998-18.998-18.998c-46.109,0-83.622,37.513-83.622,83.622v54.286H287.481c4.579-4.699,7.965-10.675,9.536-17.539c3.383-14.787-2.619-29.526-14.088-37.999c0.667-24.58,20.857-44.374,45.594-44.374c10.492,0,18.998-8.506,18.998-18.998c0-10.492-8.506-18.998-18.998-18.998c-41.729,0-76.416,30.727-82.628,70.743l-135.939-31.097c-0.476-0.109-0.952-0.2-1.427-0.289c-21.043-5.537-43.41,5.312-51.743,26.024L7.398,269.526c-9.031,22.451,1.848,47.971,24.297,57.002c2.688,1.08,5.421,1.869,8.164,2.394l113.112,27.635l-4.755,105.954c-3.5,0.603-7.078,0.927-10.715,0.927c-17.37,0-33.483-7.003-45.373-19.719c-3.592-3.843-8.618-6.023-13.878-6.023c-5.26,0-10.285,2.181-13.878,6.023c-11.891,12.716-28.004,19.719-45.373,19.719C8.506,463.438,0,471.944,0,482.436c0,10.492,8.506,18.998,18.998,18.998c21.373,0,42.184-6.946,59.25-19.456c17.067,12.51,37.877,19.456,59.25,19.456c21.375,0,42.184-6.946,59.25-19.456c17.067,12.51,37.877,19.456,59.251,19.456c21.375,0,42.184-6.946,59.25-19.456c17.068,12.511,37.874,19.456,59.25,19.456c21.375,0,42.184-6.946,59.25-19.456c17.067,12.51,37.877,19.456,59.251,19.456c10.492,0,18.998-8.506,18.998-18.998C511.999,471.944,503.496,463.438,493.004,463.438z M244.902,462.441H244.9c-9.109-1.628-17.651-5.251-25.145-10.677l5.431-121.027c0.194-4.322-0.396-8.499-1.639-12.391c-3.61-11.445-12.934-20.781-25.441-23.838l-96.791-23.646l27.977-69.543l115.609,26.446V462.441z M404.314,455.844c-9.013,4.956-19.173,7.594-29.811,7.594c-17.37,0-33.484-7.003-45.373-19.719c-3.592-3.843-8.618-6.023-13.878-6.023c-5.26,0-10.284,2.181-13.878,6.024c-5.383,5.758-11.637,10.33-18.477,13.626v-43.561h121.417V455.844z M404.314,375.787H282.897v-37.079h121.417V375.787z M404.314,300.711H282.897v-43.423h121.417V300.711z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">Piscine</h5>
								<p class="text-sm">
									Profitez de notre piscine extérieure chauffée, située en bord de mer, pour vous détendre et vous rafraîchir en toute tranquillité.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="40px" height="40px" viewbox="0 0 512 512">
									<path class="st0" d="M207.103,23.875v109.219c0,7-5.656,12.641-12.625,12.641h-3.375c-6.969,0-12.641-5.641-12.641-12.641V23.375c0-18-12.109-23.375-23.719-23.375s-23.719,5.375-23.719,23.375v109.719c0,7-5.672,12.641-12.641,12.641h-3.375c-6.969,0-12.625-5.641-12.625-12.641V23.875c0-32.219-45.938-31.125-45.938,0.359c0,37.703,0,104.297,0,104.297c-0.219,57.906,13.625,72.953,36.469,91c18.422,14.531,34.156,22.859,34.156,58.953v232.188h55.344V278.484c0-36.094,15.734-44.422,34.156-58.953c22.859-18.047,36.688-33.094,36.469-91c0,0,0-66.594,0-104.297C253.04-7.25,207.103-8.344,207.103,23.875z" fill="#000000"/>
									<path class="st0" d="M385.228,34.75c-11.75,32.953-45.578,110.156-47.719,178.344c-3.313,105.844,61.547,90.188,62.703,159.531v138.688h55.078l0.266,0.688c0,0,0-0.281,0-0.688c0-9.266,0-119.625,0-232.203c0-111.359,0-224.797,0-244.359C455.556-5.438,403.524-16.531,385.228,34.75z" fill="#000000"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">Restaurant</h5>
								<p class="text-sm">
									Dégustez une cuisine raffinée et savoureuse, élaborée à partir de produits frais et locaux, dans un cadre chaleureux et convivial.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg fill="#000000" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewbox="0 0 45.705 45.705">
									<path d="M45.643,30.096c0-3.038-1.812-5.808-4.656-6.88L24.9,16.995l-0.051-2.066c3.08-0.883,5.35-3.72,5.35-7.082 c0-4.064-3.305-7.371-7.367-7.371c-2,0-4.768,1.547-6.271,3.821c-0.375,0.564-0.41,1.324-0.086,1.923c0.322,0.6,0.945,1.003,1.626,1.003h0.035c0.637,0,1.225-0.373,1.538-0.928c0.661-1.178,2.05-2.003,3.162-2.003c1.965,0,3.568,1.612,3.568,3.577c0,1.971-1.604,3.58-3.568,3.58c-0.003,0-0.006,0-0.009,0c-0.468,0-0.919,0.17-1.246,0.501c-0.331,0.333-0.515,0.776-0.509,1.246l0.045,3.791L4.699,23.216C1.857,24.292,0,27.054,0,30.094v1.173c0,3.409,2.666,6.372,6.073,6.372h9.355l-1.525-3.849h-7.83c-1.309,0-2.299-1.211-2.299-2.523v-1.173c0-1.47,0.885-2.804,2.257-3.322l12.545-4.752c-0.642,1.771-0.596,3.421-0.344,4.708l-2.498,1.025c-1.003,0.412-1.488,1.556-1.086,2.563l5.209,13.07c0.29,0.727,0.858,1.307,1.578,1.612c0.364,0.152,0.753,0.23,1.141,0.23c0.379,0,0.757-0.073,1.113-0.219l4.651-1.911c1.485-0.609,2.202-2.302,1.608-3.792l-5.217-13.092c-0.195-0.49-0.58-0.883-1.066-1.09c-0.246-0.104-0.509-0.156-0.771-0.156c-0.256,0-0.512,0.05-0.753,0.15l-2.073,0.851c-0.191-1.347-0.038-3.132,1.269-5l1.517-0.574l16.79,6.373c1.375,0.519,2.244,1.854,2.244,3.321v1.174c0,1.312-0.98,2.523-2.289,2.523h-9.719l1.525,3.849H39.6c3.405,0,6.105-2.938,6.105-6.345L45.643,30.096z M21.851,29.13c0.346,0.843-0.056,1.806-0.9,2.154c-0.842,0.344-1.805-0.06-2.152-0.899c-0.209-0.511-0.144-1.065,0.127-1.501c0.146,0.314,0.253,0.492,0.26,0.504c0.187,0.302,0.51,0.468,0.842,0.468c0.178,0,0.358-0.05,0.521-0.149c0.464-0.289,0.607-0.896,0.319-1.361c-0.012-0.02-0.048-0.078-0.099-0.176C21.24,28.303,21.648,28.642,21.851,29.13z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">
									Pressing & Blanchisserie
								</h5>
								<p class="text-sm">
									Bénéficiez de notre service de pressing et blanchisserie pour un linge toujours propre et impeccable, même en vacances.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg fill="#000000" height="80px" width="80px" class="w-6 h-6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 511.999 511.999" xml:space="preserve">
									<path d="M468.299,129.281h-60.837l7.776-85.815h53.056c12.002,0,21.733-9.731,21.733-21.733S480.297,0,468.295,0h-72.909c-11.243,0-20.629,8.574-21.643,19.771l-9.922,109.51H285.83C275.424,66.345,220.629,18.192,154.791,18.192 c-73.24,0-132.827,59.586-132.827,132.828c0,68.269,52.271,127.048,122.993,132.399c2.782,30.616,7.004,77.215,16.388,180.848 c2.488,27.211,24.954,47.732,52.256,47.732h195.886c27.32,0,49.782-20.528,52.246-47.749c22.24-245.367,13.496-148.889,28.21-311.275C491.097,140.255,481.069,129.281,468.299,129.281z M154.793,129.281c-12.82,0-22.797,11.039-21.646,23.698c3.161,34.916,1.543,17.04,7.815,86.366c-43.239-6.629-75.532-44.33-75.532-88.325c0-49.275,40.087-89.362,89.36-89.362c41.78,0,76.955,28.818,86.687,67.623H154.793z M438.289,241.395H184.796c-0.846-9.342-5.362-59.221-6.216-68.642c4.323,0,254.216-0.006,265.927-0.006L438.289,241.395z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">Bar & Lounge</h5>
								<p class="text-sm">
									Détendez-vous autour d’un verre dans notre bar lounge, et profitez d’une vue imprenable sur la mer et le coucher de soleil.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" class="h-6 w-6" viewbox="0 0 45.945 45.945" xml:space="preserve">
									<path d="M41.034,23.817l-1.539-1.122c-0.104-0.074-0.226-0.115-0.353-0.119l-2.889-0.071c-0.253-0.006-0.478-0.165-0.567-0.402 l-1.065-2.833c-0.043-0.112-0.118-0.212-0.216-0.283l-2.188-1.594c-0.103-0.075-0.225-0.117-0.352-0.12l-2.889-0.068 c-0.251-0.007-0.476-0.164-0.565-0.398l-1.105-2.87c-0.043-0.111-0.117-0.208-0.214-0.278l-3.209-2.339 c0.429-3.73-1.238-7.557-4.615-9.717C14.543-1.421,8.265-0.042,5.243,4.68C2.222,9.404,3.612,15.683,8.333,18.703 c0.438,0.281,0.906,0.522,1.362,0.729v1.5H7.932c-0.778,0-1.5,0.417-1.9,1.085l-2.03,3.396c-0.207,0.345-0.312,0.743-0.312,1.146 v17.144c0.001,1.223,0.984,2.243,2.208,2.243h11.547c1.224,0,2.211-1.021,2.211-2.244V26.586c0-0.399-0.106-0.796-0.311-1.14 l-2.036-3.423c-0.4-0.671-1.123-1.091-1.903-1.091h-1.757v-0.629c1.901,0.022,3.788-0.487,5.42-1.479L37.609,29.16 c1.424,0.794,3.223,0.344,4.102-1.029l0.103-0.159C42.693,26.598,42.351,24.777,41.034,23.817z M14.581,25.258 c0,1.612-1.303,2.92-2.915,2.92c-1.612,0-2.905-1.308-2.905-2.92c0-0.839,0.327-1.597,0.935-2.128v0.839 c0,1.103,0.874,1.997,1.977,1.997c1.104,0,1.977-0.896,1.977-1.997V23.13C14.258,23.661,14.581,24.419,14.581,25.258z M14.936,10.89c-0.335,0.523-0.754,0.938-1.286,1.238V9.985c0-1.103-0.873-1.997-1.977-1.997c-1.103,0-1.977,0.895-1.977,1.997 v2.142c-0.076-0.021-0.076-0.038-0.108-0.059C7.779,10.91,7.246,8.507,8.403,6.7c1.157-1.811,3.553-2.337,5.362-1.18 C15.574,6.677,16.093,9.083,14.936,10.89z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">Conciergerie</h5>
								<p class="text-sm">
									Bénéficiez de notre service de conciergerie à votre écoute 24h/24 pour répondre à toutes vos demandes et vous garantir un séjour inoubliable.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg class="w-6 h-6" fill="#000000" width="80px" height="80px" viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
									<path d="M 5.2892 21.9935 L 10.9031 21.9935 L 10.9031 18.8154 C 10.9031 16.7507 12.0630 15.6372 14.1508 15.6372 L 22.3861 15.6372 C 24.4739 15.6372 25.6338 16.7507 25.6338 18.8154 L 25.6338 21.9935 L 30.6446 21.9935 L 30.6446 18.8154 C 30.6446 16.7507 31.8045 15.6372 34.0084 15.6372 L 41.7333 15.6372 C 43.9373 15.6372 45.0970 16.7507 45.0970 18.8154 L 45.0970 21.9935 L 50.7108 21.9935 L 50.7108 15.6604 C 50.7108 11.5544 48.5305 9.4665 44.5402 9.4665 L 11.4598 9.4665 C 7.4930 9.4665 5.2892 11.5544 5.2892 15.6604 Z M 0 44.8668 C 0 46.0035 .7423 46.7226 1.9022 46.7226 L 3.2013 46.7226 C 4.3380 46.7226 5.0803 46.0035 5.0803 44.8668 L 5.0803 41.5726 C 5.3355 41.6422 6.0779 41.6886 6.6114 41.6886 L 49.4118 41.6886 C 49.9454 41.6886 50.6647 41.6422 50.9198 41.5726 L 50.9198 44.8668 C 50.9198 46.0035 51.6619 46.7226 52.7988 46.7226 L 54.1210 46.7226 C 55.2579 46.7226 56 46.0035 56 44.8668 L 56 31.6670 C 56 27.4682 53.6573 25.1716 49.4118 25.1716 L 6.5883 25.1716 C 2.3430 25.1716 0 27.4682 0 31.6670 Z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">
									Hébergement Spatieux
								</h5>
								<p class="text-sm">
									Détendez-vous dans nos chambres et suites élégantes, offrant une vue imprenable sur la mer. Confort, raffinement et sérénité vous attendent.
								</p>
							</div>
						</div>
						<div>
							<div class="bg-white h-14 w-14 items-center justify-center flex rounded-xl border p-2">
								<svg fill="#000000" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="80px" viewbox="0 0 481.482 481.482" xml:space="preserve">
									<path d="M187.383,112.446c23.751,0,43.003-19.252,43.003-42.999c0-23.746-19.252-42.998-43.003-42.998 c-23.745,0-42.997,19.252-42.997,42.998C144.386,93.194,163.637,112.446,187.383,112.446z"/>
									<path d="M201.427,168.63c14.601,25.078,28.466,50.598,41.783,76.393c-19.684,10.062-42.975,27.699-54.849,37.328 c-11.874,9.63-34.012,58.849-45.395,82.382c-12.228,25.272,27.115,43.604,39.298,18.438 c10.041-20.741,26.951-62.021,36.794-70.124c9.843-8.104,42.155-30.97,66.806-39.557c1.213-0.424,2.317-0.928,3.364-1.488 c30.175,38.297,89.277,56.387,139.688,26.928c26.562-15.524,2.536-53.799-24.104-38.228 c-36.924,21.593-75.352-6.017-92.753-40.587c-17.402-34.571-29.732-58.904-43.838-83.386c27.547-8.786,52.733-0.761,72.54,26.978 c16.108,22.568,53.787,0.927,37.495-21.908c-38.337-53.687-95.5-67.011-152.731-33.035c-2.378,1.413-13.122,7.333-15.543,8.77 c-35.576,21.12-68.637,17.116-93.326-17.468c-16.12-22.57-53.791-0.929-37.487,21.903 C110.668,166.094,154.895,182.887,201.427,168.63z"/>
									<path d="M461.989,416.046H72.901L42.228,240.731h77.229c10.767,0,19.494-8.728,19.494-19.494s-8.728-19.493-19.494-19.493H19.493 C8.727,201.744,0,210.472,0,221.237v2.657c0,1.126,0.098,2.25,0.291,3.359l37.028,211.646 c1.633,9.328,9.732,16.134,19.202,16.134h405.468c10.766,0,19.493-8.728,19.493-19.493 C481.482,424.773,472.755,416.046,461.989,416.046z"/>
								</svg>
							</div>
							<div class="mt-6">
								<h5 class="text-md font-medium mb-3">
									Salle de sport & Fitness
								</h5>
								<p class="text-sm">
									Restez en forme pendant votre séjour grâce à notre salle
																																																																																																																																																																																																																																																																																						de sport équipée et tous nos équipements de fitness.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
